venv
venv-*
.vscode
arne/data
arne/output
arne/build
arne/**/*.pkl
Session.vim
*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
data/**/*.pickle
data/**/*.txt
data/**/*.gz
*.csv
**/__pycache__/
.env
*.obj
*.pickle
*.tsv.gz
**/nohup.out
*.pdf
.python-version
#markus/arne_copy/experiments/power_simulation/results/
